%ol.breadcrumb
    -if @customer
        %li
            %a{ :href=> "#{customers_url}" }= tr('customers')
        %li
            %a{ :href=> "#{customer_url(@customer.name)}" }= @customer.name
        %li
            %a{ :href=> "#{customer_competitor_products_url(@customer.name)}" }= tr('competitor_products')
        %li.active= tr('import')

%h2= tr('import_preview')

= render :partial => 'application/form_errors', :locals => { :record => @record }
- if flash[:error]
    .alert.alert-danger= flash[:error]
- if flash[:warn]
    .alert.alert-info= flash[:warn]
- if flash[:success]
    .alert.alert-success= flash[:success]

= render :partial => 'form', :locals => { :action => 'import', :actionLabel => 'import', :cancel_url => customer_competitor_products_url(@customer.name)  }

- unless @product_duplicates.blank? && @competitor_duplicates.blank?
    %p{style: 'color:red;'}
        The following records will be removed from csv file before Competitor products are updated.
- unless @product_duplicates.blank?
    .col-sm-4
        %table.table.table-striped.table-bordered
            %caption Portfolio Duplicates
            %thead
                %tr
                    %th= 'online_store'
                    %th= 'rpc'
            %tbody
                - @product_duplicates.each do |record|
                    %tr
                        %td= record[0]
                        %td= record[1]
- unless @competitor_duplicates.blank?
    .col-sm-4
        %table.table.table-striped.table-bordered
            %caption Competitor Duplicates
            %thead
                %tr
                    %th= 'online_store'
                    %th= 'rpc'
            %tbody
                - @competitor_duplicates.each do |record|
                    %tr
                        %td= record[0]
                        %td= record[1]
- unless @changed_competitor_brand_category.blank?
    .col-sm-8
        %p.text-center{style: 'color:orange;'}
            Please be aware of the following brand & category changes before importing.
        %table.table.table-striped.table-bordered
            %caption Competitor brand & category changes
            %thead
                %tr
                    %th= 'online_store'
                    %th= 'rpc'
                    %th= 'country'
                    %td{:colspan => 2} brand
                    %td{:colspan => 2} category
                %tr
                    %td{:colspan => 3}
                    %td.col-sm-1= 'from'
                    %td.col-sm-1= 'to'
                    %td.col-sm-1= 'from'
                    %td.col-sm-1= 'to'
            %tbody
                - @changed_competitor_brand_category.each do |record|
                    %tr
                        %td= record[0][0]
                        %td= record[0][1]
                        %td= record[0][2]
                        - if record[0][3] == record[1][3]
                            %td.text-center{:colspan => 2} unchanged
                        - else
                            %td= record[0][3]
                            %td= record[1][3]
                        - if record[0][4] == record[1][4]
                            %td.text-center{:colspan => 2} unchanged
                        - else
                            %td= record[0][4]
                            %td= record[1][4]
